# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

## ----------------------------------------------------
## CARPETAS DE COMPILACIÓN Y SALIDA (BUILD / OUTPUT)
## ----------------------------------------------------
node_modules/
.angular/
/.angular/cache
/dist
/tmp
/out-tsc
/bazel-out
/coverage
.sass-cache/

## ----------------------------------------------------
## ENTORNOS DE DESARROLLO (IDEs & EDITORS)
## ----------------------------------------------------
# JetBrains / WebStorm
.idea/

# Visual Studio Code
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Otros Editores (Eclipse, Sublime, Cloud9)
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

## ----------------------------------------------------
## CONFIGURACIONES LOCALES, SECRETOS Y GENERADOS
## ----------------------------------------------------
.env
.env.local
.env.*.local
!.env.example

# Archivos de configuración locales generados
src/assets/app-config.json
proxy.conf.json

## ----------------------------------------------------
## ARCHIVOS DE LOGS Y TEMPORALES
## ----------------------------------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
testem.log
/libpeerconnection.log
/connect.lock
/typings

## ----------------------------------------------------
## ARCHIVOS DEL SISTEMA OPERATIVO
## ----------------------------------------------------
.DS_Store
Thumbs.db
ehthumbs.db
